/* 
Variables:

  Bulma is built with SASS- default values for Bulma can be overridden
  if you define them before actually importing Bulma. this is the file set
  aside for that. 

  things you might want to change: 

  override a default that exists on Bulma:
    $primary: #ff470f; 
    $link: $custom-select-medium-blue;
    $success: $custom-green;

  or you have custom variables for a specific component:
    $monitor-alert-border: 4px solid red;

*/